- url = 'webcal://www.hei-connect.eu/ics/' + current_user.ics_key + '.ics'

.content-box
  .content-box-header
    %i.icon-cloud
    Flux iCalendar
  .padded
    :markdown
      Grâce à HEI-Connect, tu peux récupérer ton planning sur ton gestionnaire d'agenda (Google Agenda, iCal, Outlook...).

      Si rien de magique ne se passe en cliquant sur le lien, [un tutoriel est disponible](https://github.com/ldavin/hei-connect-web/wiki/%5BTutoriel%5D-Connecter-votre-agenda-%C3%A0-votre-mobile).
    %pre
      = link_to url, url

= render partial: 'calendar_widget', locals: { courses: @courses }

.row-fluid
  .span4
    = render partial: 'status_widget', locals: { updates: @updates }

  .span8
    .content-box
      .content-box-header
        %i.icon-info-sign
        A propos du planning
      .padded.pagination-justify
        :markdown
          La mise à jour de ton emploi du temps est planifiée tous les jours à partir de 14h.

          **HEI-Connect fait du mieux qu'il peut, mais ne garantit en rien l'exactitude des données
          présentes sur cette page. Seul e-campus fait foi en cas de différences.**

        %p
          Récupérer ces données au format
          = link_to 'json', dashboard_courses_path(ecampus_id: params[:ecampus_id], format: 'json')
          = link_to 'xls', dashboard_courses_path(ecampus_id: params[:ecampus_id], format: 'xls')