= form_tag sessions_path do |f|
  %fieldset
    %legend Connexion à HEI-Connect
    .control-group
      = label_tag :ecampus_id, 'Identifiant', :class => 'control-label'
      .controls
        = text_field_tag :ecampus_id, nil, :class => 'input-block-level'
    .control-group
      = label_tag :password, 'Mot de passe', :class => 'control-label'
      .controls
        = password_field_tag :password, nil, :class => 'input-block-level'

    = submit_tag "Connexion", :class => 'btn btn-primary'