- url = admin_exams_path
- url = admin_exam_path(@exam) unless @exam.new_record?

= simple_form_for @exam, :url => url, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :date
  = f.input :kind
  = f.input :weight
  = f.input :average
  = f.input :section_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_exams_path, :class => 'btn'
