.login-container.center
  .title Administration
  = form_for @user, url: admin_sessions_url, html: {class: 'login-form'}  do |f|
    %ul.fields-list
      %li
        %i.icon-user{style: 'style="float: left;"'}
        = f.text_field :ecampus_id, autocomplete: 'off', placeholder: 'Identifiant ecampus'
      %li
        %i.icon-key{style: 'style="float: left;"'}
        = f.password_field :password, autocomplete: 'off', placeholder: 'Mot de passe'
    .actions
      = f.submit 'Connexion', class: 'btn btn-green btn-large login-btn'
      = link_to 'Retour', root_url, class: 'btn btn-orange btn-large login-btn'