.content-box
  .content-box-header
    %i.icon-info-sign
    Maintenance
  .padded
    .center
      = link_to 'Activer / Desactiver le mode maintenance', admin_dashboard_maintenance_path, class: 'btn btn-large btn-red'

.content-box
  .content-box-header
    %i.icon-info-sign
    Lancer une tâche
  .padded
    Attention! N'utiliser qu'en cas d'urgence.
    = button_to 'Nettoyer les cours', admin_run_task_path(task: 'clean_courses'), class: 'btn btn-green'
    = button_to 'Mettre à jour les emploi du temps', admin_run_task_path(task: 'update_schedules'), class: 'btn btn-orange'
    = button_to 'Mettre à jour les sessions', admin_run_task_path(task: 'update_sessions'), class: 'btn btn-red'
    = button_to 'Mettre à jour les notes', admin_run_task_path(task: 'update_grades'), class: 'btn btn-red'
    = button_to 'Mettre à jour les absences', admin_run_task_path(task: 'update_absences'), class: 'btn btn-orange'