- if session.grades.any?
  = cache ['average_widget', 'v3', current_user, session] do
    = content_tag :div, '', id: 'average_data', data: {grades: grades_to_chart_data(session.grades)}
    .content-box
      .content-box-header
        %i.icon-bar-chart
        Moyenne
        - if session.try > 1
          = "HEI#{session.year}##{session.try}"
        - else
          = "HEI#{session.year}"
      .padded
        .row-fluid
          .span12
            #average-chart.chart{style: 'width: 100%; height: 330px;'}
- else
  .content-box
    .content-box-header
      %i.icon-bar-chart
      Moyenne
    .padded
      Aucune note pour l'instant.