= cache ['status_widget', 'v1', current_user] do
  - schedule_object = {title: 'Emploi du temps', update: current_user.schedule_update}

  - if session.try > 1
    - grades_title = "Notes (HEI#{session.year}##{session.try})"
  - else
    - grades_title = "Notes (HEI#{session.year})"
  - grades_object = {title: grades_title, update: current_user.grades_update(session.grades_session)}

  .content-box
    .content-box-header
      %i.icon-dashboard
      Dernières mises à jour
    .row-fluid
      .span12
        %table.table#status_table
          %thead
            %tr
              %th Objet
              %th Etat
              %th Dernière mise à jour
          %tbody
            - [schedule_object, grades_object].each do |o|
              - title = o[:title]
              - update = o[:update]
              %tr
                %td= title
                %td= update_status_label(update)
                %td= update.updated_at.strftime('%d/%m à %H:%M')