/ Index page
.jumbotron
  %h1 Un ecampus enfin simple et rapide
  %p.lead HEI Connect utilise vos identifiants e-campus pour récupérer discrètement vos données (planning, notes, absences) et vous les restituer rapidement.
  %a.btn.btn-large.btn-success{'data-toggle' => 'modal', :href => '#login_modal'} Se connecter
%hr
  .row-fluid.marketing
    .span6
      %h4 Subheading
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4 Subheading
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      %h4 Subheading
      %p Maecenas sed diam eget risus varius blandit sit amet non magna.
    .span6
      %h4 Subheading
      %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4 Subheading
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      %h4 Subheading
      %p Maecenas sed diam eget risus varius blandit sit amet non magna.

/ Login modal
#login_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Connexion
  .modal-body
    = form_tag sessions_path, {:id => 'login_form', :class => 'form-horizontal'} do |f|
      .control-group
        = label_tag :ecampus_id, 'Identifiant', :class => 'control-label'
        .controls
          = text_field_tag :ecampus_id, nil, :class => 'input-block-level'
      .control-group
        = label_tag :password, 'Mot de passe', :class => 'control-label'
        .controls
          = password_field_tag :password, nil, :class => 'input-block-level'


    #login_bar.progress.progress-striped.active{:style => 'display: none;'}
      .bar{:style => "width: 100%;"}

  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Fermer
    %button.btn.btn-primary{:id => 'login_button'} Se connecter