%h2.transparent-text.center Un ecampus enfin simple et rapide

.login-container.center
  .title Login
  = form_for @user, html: {class: 'login-form'}  do |f|
    - if @user.errors.any?
      .alert.alert-error
        - @user.errors.full_messages.each do |msg|
          %p
            %small= msg

    %ul.fields-list
      %li
        %i.icon-user
        = f.text_field :ecampus_id, autocomplete: 'off', placeholder: 'Identifiant ecampus'
      %li
        %i.icon-key
        = f.password_field :password, autocomplete: 'off', placeholder: 'Mot de passe'
    .actions
      = f.submit 'Connexion', class: 'btn btn-green btn-large login-btn'
      = link_to 'A propos', about_path, class: 'btn btn-blue btn-large login-btn'
    .details
      %p
        %small Pas encore inscrit? Il suffit de remplir le formulaire de connexion avec tes identifiants ecampus.