- url = admin_absences_path
- url = admin_absence_path(@absence) unless @absence.new_record?

= simple_form_for @absence, :url => url, :html => { :class => 'form-horizontal' } do |f|
  = f.input :date
  = f.input :length
  = f.input :excused
  = f.input :justification
  = f.input :update_number
  = f.input :section_id
  = f.input :user_session_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_absences_path, :class => 'btn'
