- url = admin_users_path
- url = admin_user_path(@user) unless @user.new_record?

= simple_form_for @user, :url => url, :html => { :class => 'form-horizontal' } do |f|
  = f.input :ecampus_id
  = f.input :ics_key
  = f.input :password_digest
  = f.input :token
  = f.input :last_activity
  = f.input :admin
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_users_path, :class => 'btn'
