- url = admin_grades_path
- url = admin_grade_path(@grade) unless @grade.new_record?

= simple_form_for @grade, :url => url, :html => { :class => 'form-horizontal' } do |f|
  = f.input :mark
  = f.input :unknown
  = f.input :update_number
  = f.input :user_session_id
  = f.input :exam_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_grades_path, :class => 'btn'
