- model_class = Grade
.content-box
  .content-box-header
    =t '.title', :default => model_class.model_name.human
  .padded
    %p
      %strong= model_class.human_attribute_name(:mark) + ':'
      %br
      = @grade.mark
    %p
      %strong= model_class.human_attribute_name(:unknown) + ':'
      %br
      = @grade.unknown
    %p
      %strong= model_class.human_attribute_name(:update_number) + ':'
      %br
      = @grade.update_number
    %p
      %strong= model_class.human_attribute_name(:user_session_id) + ':'
      %br
      = @grade.user_session_id
    %p
      %strong= model_class.human_attribute_name(:exam_id) + ':'
      %br
      = @grade.exam_id

    .form-actions
      = link_to t('.back', :default => t("helpers.links.back")), admin_grades_path, :class => 'btn'
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_grade_path(@grade), :class => 'btn'
      = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_grade_path(@grade), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
