- model_class = Absence
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:date)
      %th= model_class.human_attribute_name(:length)
      %th= model_class.human_attribute_name(:excused)
      %th= model_class.human_attribute_name(:justification)
      %th= model_class.human_attribute_name(:update_number)
      %th= model_class.human_attribute_name(:section_id)
      %th= model_class.human_attribute_name(:user_session_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - absences.each do |absence|
      %tr
        %td= link_to absence.id, admin_absence_path(absence)
        %td= absence.date
        %td= absence.length
        %td= absence.excused
        %td= absence.justification
        %td= absence.update_number
        %td= absence.section_id
        %td= absence.user_session_id
        %td=l absence.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_absence_path(absence), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_absence_path(absence), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'