- model_class = CourseTeacher
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:course_id)
      %th= model_class.human_attribute_name(:teacher_id)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - course_teachers.each do |course_teacher|
      %tr
        %td= link_to course_teacher.id, admin_course_teacher_path(course_teacher)
        %td= course_teacher.course_id
        %td= course_teacher.teacher_id
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_course_teacher_path(course_teacher), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_course_teacher_path(course_teacher), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'