- model_class = Teacher
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - teachers.each do |teacher|
      %tr
        %td= link_to teacher.id, admin_teacher_path(teacher)
        %td= teacher.name
        %td=l teacher.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_teacher_path(teacher), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_teacher_path(teacher), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'