- url = admin_user_sessions_path
- url = admin_user_session_path(@user_session) unless @user_session.new_record?

= simple_form_for @user_session, :url => url, :html => { :class => 'form-horizontal' } do |f|
  = f.input :year
  = f.input :try
  = f.input :absences_session
  = f.input :grades_session
  = f.input :update_number
  = f.input :user_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_user_sessions_path, :class => 'btn'
