.navbar.navbar-fixed-top.navbar-inverse.top-nav
  .navbar-inner
    .container
      .row_fluid
        .span12

          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          .nav-collapse.collapse
            %ul.nav.primary
              %li.brand
                %span.title
                  %i.icon-cogs
                  HEI-Connect Admin

              %li
                = link_to admin_dashboard_path do
                  %i.icon-dashboard
                  Dashboard

              %li
                = link_to admin_entities_path(entity: 'sections') do
                  %i.icon-folder-close
                  Sections

              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                  %i.icon-folder-open
                  Courses
                  %b.caret

                %ul.dropdown-menu.secondary
                  %li
                    = link_to admin_entities_path(entity: 'courses') do
                      %i.icon-wrench
                      Courses
                  %li
                    = link_to admin_entities_path(entity: 'course_rooms') do
                      %i.icon-wrench
                      Course Rooms
                  %li
                    = link_to admin_entities_path(entity: 'course_teachers') do
                      %i.icon-wrench
                      Course Teachers
                  %li
                    = link_to admin_entities_path(entity: 'course_users') do
                      %i.icon-wrench
                      Course Users
                  %li
                    = link_to admin_entities_path(entity: 'groups') do
                      %i.icon-wrench
                      Groups
                  %li
                    = link_to admin_entities_path(entity: 'rooms') do
                      %i.icon-wrench
                      Rooms
                  %li
                    = link_to admin_entities_path(entity: 'teachers') do
                      %i.icon-wrench
                      Teachers
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                  %i.icon-folder-open
                  Users
                  %b.caret

                %ul.dropdown-menu.secondary
                  %li
                    = link_to admin_entities_path(entity: 'users') do
                      %i.icon-wrench
                      Users
                  %li
                    = link_to admin_entities_path(entity: 'user_sessions') do
                      %i.icon-wrench
                      User Sessions
                  %li
                    = link_to admin_entities_path(entity: 'updates') do
                      %i.icon-wrench
                      Upates

              %li
                = link_to admin_entities_path(entity: 'absences') do
                  %i.icon-folder-close
                  Absences

              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                  %i.icon-folder-open
                  Grades
                  %b.caret

                %ul.dropdown-menu.secondary
                  %li
                    = link_to admin_entities_path(entity: 'exams') do
                      %i.icon-wrench
                      Exams
                  %li
                    = link_to admin_entities_path(entity: 'grades') do
                      %i.icon-wrench
                      Grades

            %ul.nav.pull-right.primary
              %li.dropdown.profile
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = image_tag 'profile-thumb.png', :class => "menu-avatar"
                  = current_admin.ecampus_id
                  %b.caret
                %ul.dropdown-menu.secondary
                  %li
                    = link_to admin_sessions_path, method: :delete do
                      %i.icon-off
                      Déconnexion